table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border:2px solid rgb(76, 34, 95)
}
thead{
    background-color:rgb(218, 201, 235);
}
    
td:hover{
    background-color:rgb(248, 251, 200)
    border-radius:20px;
}

